<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IsbnSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F57257CF1C4841EC006B1FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57257E31C4841ED006B1FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57257EE1C4841ED006B1FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
